@import "../../shared/colors";

.customCheckbox {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-color: $background-color_1;
    border-radius: 2px;
    border: 1px solid #217346;
  }

  &:checked {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 7px;
      top: 4px;
      width: 4px;
      height: 9px;
      border: solid $color_1;
      border-width: 0 2px 2px 0;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.customCheckboxLabel {
  display: block;
  margin-left: 8px;
  color: $color_1;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}

.customCheckbox_light {
  &:before {
    background-color: $background-color_1_light;
  }
}