@import "../../shared/colors";

.inputWithButtons {
  border: 1px solid $background-color_2;
  border-radius: 4px;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.inputWithButtons_light {
  border: 1px solid $th-color_1;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: $background-color_1;
  color: $color_1;
  padding: 12px 8px;
  font-size: 13px;

  &::placeholder {
    color: $color_1;
    font-size: 13px;
  }

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input_light {
  background-color: $background-color_1-light;
}

.settings {
  width: 30px;
  height: 39px;
  background-color: $background-color_7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.settings_light {
  background-color: $background-color_7_light;
}

.rotate {
  transform: rotate(180deg);
}