@import "../../shared/colors";

.insertRow {
  padding: 14px 8px 8px 8px;
  border: 1px solid $background-color_2;
  width: 300px;
  border-radius: 4px;
  position: relative;
}

.insertRow_light {
  border-color: $th-color_1;
}

.insertRowTitle {
  position: absolute;
  top: 0;
  left: 8px;
  transform: translate(0, -50%);
  background-color: $background-color_1;
  color: $color_1;
  font-size: 14px;
}

.insertRowTitle_light {
  background-color: $background-color_1-light;
}

.insertRowGroup {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: unset;
  }
}

.formSeparator {
  width: 85%;
  height: 1px;
  background-color: $background-color_2;
  margin: 0 auto 0 auto;
}

.settings {
  width: 30px;
  height: 40px;
  background-color: $background-color_7;
}