@import "../../shared/colors";

.tableWrapper {
    padding: 8px;
    border: 1px solid $background-color_2;
    width: 768px;
    border-radius: 4px;
    margin-left: 14px;
}

.tableWrapper_light {
    border-color: $th-color_1;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: $th-color_1;
        color: $color_1;
        font-weight: 200;
        font-size: 15px;
        padding: 6px 0;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }


        td:nth-child(1) {
            max-width: 80px;
        }
        td:nth-child(2) {
            width: 80px;
        }
        td:nth-child(3) {
            width: 200px;
        }
        td:nth-child(4) {
            width: 200px;
        }
    }

    td {
        color: $color_1;
        padding: 6px 0;
        font-size: 15px;
    }

    td:nth-child(1) {
        max-width: 80px;
    }
    td:nth-child(2) {
        width: 80px;
    }
    td:nth-child(3) {
        width: 200px;
    }
    td:nth-child(4) {
        width: 200px;
    }
}