@import "shared/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: $background-color_1;
}

.app-light {
  background-color: $background-color_1_light;
}

.container {
  padding: 40px 0;
  max-width: 968px;
  display: flex;
  margin: 0 auto;
}

//#c5c5c5