$background-color_1: #313131;
$background-color_1_light: #ccc;
$background-color_2: #4A4A4A;
$background-color_4: #217346;
$background-color_5: #19AB27;
$background-color_7: #595959;
$background-color_7_light: #4CAF50;
$color_1: #E2E8E1;
$border-color_1: #19AB27;
$th-color_1: rgb(128, 128, 128);
$toggle-color_1: #4D4D4D;